<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% $blog.name %}{% if blog.title %}: $blog.title{% endif %}{% endblock %}</title>
		<link rel="stylesheet" href="/design/style.css" type="text/css" media="screen" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<header>
			<h1><a href="/">$blog.name</a></h1>
			<p>$blog.description</p>
		</header>
		
{% block content %}
{% endblock %}

{% include "sidebar.html" %}

		<footer>
			<p>Powered by <a href="http://frontispiece.org/" rel="generator">Frontispiece</a></p>
			<p>Subscribe to <a href="$blog.feed_url">our syndicated feed.</a></p>
		</footer>
	</body>
</html>
